/* Variables */

$maincolor1:#c3cfe2;
$maincolor2: #686de0;
$mainpadding: 0px 10px 0px 10px;
$mainshadow:5px 5px 15px -1px #000000;
$mainmargin1:5px;
$mainmargin2: 6px;
$mainmargin3: 10px;
@mixin grid ($columstart, $columend, $rowstart, $rowend) {
	position: relative;
	grid-column-start: $columstart;
	grid-column-end: $columend;
	grid-row-start: $rowstart;
	grid-row-end: $rowend;
}       

@mixin flexcenter ( $direction,$justify, $align) { 
	display: flex; 
	flex-flow: $direction; 
	justify-content: $justify; 
	align-content: $align;
}